<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link href="https://cdn.bootcss.com/twitter-bootstrap/4.3.1/css/bootstrap.css" rel="stylesheet">
    <style>
        ul,li{
            margin: 0;
            padding: 0;
            list-style: none;
        }
        li{
            display: inline-block;
            float: left;
            text-align: center;
            border:1px solid red;
        }
    </style>
</head>
<body>
<div>这个是app{{.test}}</div>
<form method="post" action="/index">
    <input type="submit" value="提交"  />
</form>
<ul>
    <li class="col-md-3">1</li>
    <li class="col-md-3">2</li>
    <li class="col-md-3">3</li>
    <li class="col-md-3">4</li>
</ul>

法人授权委托书

本授权委托书声明： 本人 （身份证： ） ， 系 （单位名称）的法定代表人，现授权委托本 公司的
（身份证号：
）代表本人全权处 理
（公司名称）在中国邮政储蓄银行股份有限公 司十堰市分行的贷款事宜并签署相关文件
委托期限至 止


特此委托。


单位名称（盖章）：

法定代表人（盖章或签字）：
2013 年 10 月 28 日

 


</body>
</html>